@using DensityServer.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<AuthorizeView>
    <Authorized>
        @Localizer<a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
         @Localizer   <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
     @Localizer   <a href="Identity/Account/Register">Register</a>
     @Localizer   <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
