@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Views/Shared/MainLayout.razor";
}

<h2>Email Confirmation</h2>
An email has been sent by @ViewBag.Email, please confirm your email address by clicking the provided link. 
